* {
    margin: 0%;
    padding: 0%;
    font-family: "Poppins", sans-serif;
    
}

.header {
    display: flex;
   
}

.header-title {
    float: left;
    width: 243px;
    height: 52.2px;
    margin-left: 120px;
    margin-top: 87px;
}

.nav {
    float: right;
}

.header-title > h2 {
    font-size: 24px;
    font-weight: 700;
    color: #3A3A3A;
    font-family:"Poppins", sans-serif ;
}


.nav {
    margin-left: 457px;
    margin-top: 95px;
    width: 463px;
    height: 36px;
    cursor: pointer;

}

.lists {
  list-style-type: none;
  display: inline-flex;

}

.lists > li > a {
    margin-left: 25px;
}


.lists > li > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#3A3A3A;

}

.up > li > a {
    margin-left: 60px;
    cursor: pointer;
}

.down > li > a {
    margin-left: 60px;
    cursor: pointer;
}


/* header-info + images */


.header-info > h1 {
    width: 582px;
    height: 133px;
    margin-left: 120px;
  
    font-size: 45px;
    font-weight: 700;
    color: #3A3A3A;
}

.header-info > p {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 500;
    margin-left: 120px;
    width: 505px;
    height: 60.9px;
    margin-top: 15px;
}

.header-button {
    background-color: #E02C6D;
    color: #FFFFFF;
    margin-left: 120px;
    width: 196px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 12px;
    border: 2px solid #E02C6D;
    margin-top: 25px;
   

}

.header-button >a {
    text-decoration: none;
    color: #D9DBE1;
}


.header-info-display {
    background-image: url("camera-410.png"),url("Circle\ design.svg");
    background-repeat: no-repeat;
    background-position: right, right;
    margin-top: 50px;
    display: flex;
    padding-top: 140px;
   margin-right: 80px;
   margin-bottom: 100px;
}
.header-info {
    padding-bottom: 100px;
}

.logos {
    list-style-type: none;
    display: inline-flex;
    margin-top: 45px;
    
}

.logos > li  {
    margin-left: 55px;
    

}


.listed-logo {
    border: 1px solid rgba(209, 205, 205, 0.274);
    
    width: 1110px;
    height: 110px;
    margin-left: 145px;
    border-radius: 24px;
    margin-left: 135px;
    margin-bottom: 100px;
}


/* main popular part */


.popular {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin-bottom: 100px;
}


.items-container {
   margin-left: 100px;
   margin-right: 100px;
    height: 1527px;
    background-color: #aaaaaa17;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
    margin-bottom: 35px;
}


.items {
    width: 329px;
    height: 476px;
    border: 1px solid rgba(243, 243, 243, 0.815);
    margin-top: 20px;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    


}

.items > img {
   width: 300px;
   height: 256px;
   margin-left: 14.5px;
   margin-right: 14.5px;
   margin-top: 14.5px;
   
}

.stars {
    display: flex;
    gap: 15px;
    margin-left: 14.5px;
}


.checked {
    color: orange;
    font-size: 16px;
    position: relative;
     
   
}

.num {
    color:#5E6366;
    font-size: 14px;
    margin-top: 3px;
    font-weight: 600;
}

.items > h3 {
    width: 82px;
    height: 36px;
    font-size: 24px;
    color: #000000d7;
    font-weight: 400;
    margin-left: 14.5px;
}

.items > h2 {
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
    margin-left: 14.5px;
}

.world {
    font-size: 14px;
    margin-left: 14.5px;
    margin-top: 10px;
    font-weight: 600;
    color: #787885;
}

.see {
    margin-top: 40px;
    width: 99px;
    height: 24px;
    color:#E02C6D;
    font-weight: 600;
    margin-left: 1150px;
    margin-bottom: 100px;
    cursor: pointer;
}


.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 100px;
    
}


.feat-pic > img {
    width: 404px;
    height: 270px;
}


.feat-info > h1 {
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
    width: 610px;
    height: 60px;

}

.feat-info > p {
    font-size: 16px;
    font-weight: 700;
    color:#6C6C6C;
    width: 501px;
    height: 88px;
}

.feat-button {
    background-color: #E02C6D;
    color: #FFFFFF;
    text-align: center;
    width: 155px;
    height: 44px;
    border: 2px solid #E02C6D;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.feat-button > a {
    text-decoration: none;
    color: #FFFFFF;
}


/* footer */

.foot-images >a> img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    
}


.footer {
    background-color: #0A0826;
    color:#FFFFFF;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}


.foot-info > h2 {
    font-size: 24px;
    font-weight: 700;
    width: 243px;
    height: 36px;
    text-align: center;
    margin-left: 7px;
    
}

.foot-info > p {
    text-align: center;
    width: 262px;
    height: 24px;
    font-size: 14px;
    line-height: 32px;
    color: #D9DBE1;
}

.foot-info {
    margin-top: 50px;
}


.foot-images {
    margin-top: 20px;
}

.total {
    display: flex;
    
}
   .up {
    display: inline-flex;
    
   }

   .up > li > img {
    margin-left: 35px;
    margin-right: 35px;
   }





   .down {
    display: inline-flex;
   }


   .down > li > img {
    margin-right: 35px;
    margin-left: 35px;
   }


















@media screen and (max-width:540px) {
     ul {
        display: none;
     }

     .header {
        background-image: url("cart.png"),url("bar.png");
        background-position: top right, top left;
        background-repeat: no-repeat;
        background-size: 40px;
        margin-top: 20px;
     }


     .header-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
     }


     .header-title > h2 {
        font-size: 16px;
        width: 162px;
        height: 24px;
        margin-top: -180px;
        margin-left: 50px;
       
       
        
     }



     .header-info-display {
        background-image: url("main-camera.png"),url("Circles\ design-svg.png");
        background-repeat: no-repeat;
        background-position: center, center;
        margin-top: 20px;
      margin-top: -500px;
    
      margin-left: 105px;
       margin-bottom: 100px;
    }


    .header-info > h1 {
  
        font-size: 28px;
        width: 404px;
        height: 48px;
        text-align: center;
        margin: 20px;
        margin-bottom: 25px;
        margin-left: -60px;
        margin-top: -10px;

    }


    .header-info > p {
        font-size: 14px;
        width: 321px;
        height: 65px;
        text-align: center;
        margin: 20px;
        margin-left: -25px;
        margin-top: 40px;
    }

    .header-button {
        font-size: 14px;
        width: 194px;
        height: 44px;
        border-radius: 24px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .header-info {
        margin-top: 550px;
    }




    

 

 

    .popular {
        font-size: 16px;
    }


    .items-container {
      display: flex;
      flex-direction: column;
         width: 329px;
         height: 4504px;
      
         margin-left: 70px;
         margin-right: 70px;
         margin-bottom: 35px;
     }
     
     
     .items {
         width: 329px;
         height: 476px;
         border: 1px solid rgba(243, 243, 243, 0.815);
         margin-top: 35px;
         background-color: #FFFFFF;
        
         margin-left: 20px;
         margin-right: 20px;
        
    
         
     
     
     }
     
     .items > img {
        width: 300px;
        height: 256px;
        margin-left: 14.5px;
        margin-right: 14.5px;
        margin-top: 14.5px;
        
     }

     .items > h2 {
        font-size: 28px;
     }


     .see {
        margin-top: 40px;
        width: 99px;
        height: 24px;
        color:#E02C6D;
        font-weight: 600;
        margin-left: 327px;
        margin-bottom: 100px;
        cursor: pointer;
    }


    .feature {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
      .feat-info > h1 {
        width: 311px;
        height: 72px;
        font-size: 24px;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
      }


      .feat-info > p {
        width: 329px;
        height: 88px;
        font-size: 16px;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
      }

      .feat-button {
        margin-top: 70px;
        margin-left: 190px;
        margin-right: 190px;
      }


      .feat-pic > img {
        width: 299px;
        height: 188px;
      }



      .footer {
        width: 540px;
        height: 311px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }


      .foot-info > h2 {
        font-size: 16px;
        margin-left: -40px;
        
        
      }
      .foot-info > p {
        font-size: 12px;
        width: 224px;
        height: 24;
        line-height: 16px;
        margin-left: -30px;
        color: #D9DBE1;

      }



      .foot-images > img {
        width: 24px;
        height: 24px;
      }

      .foot-images {
        margin-left: -35px;
        margin-top: -10px;
      }


      .total {
        display: flex;
        flex-direction: column;
      }

      .up {
        display: inline-flex;
      }
      
      .down {
        display: inline-flex;
      }


      .listed-logo {
        width: 375.21px;
        height: 81.46px;
        margin-top: -130px;
        margin-left: 60px;

      }


      .logos > li > img {
        width: 58.86px;
        height: 16.98px;
        
    }


    .up > li > img {
        width: 58.86;
        height: 16.98px;
        margin-left: 10px;
    }


    .down > li > img {
        width: 58.86;
        height: 16.98px;
        margin-left: 20px;
    }

    .down {
        margin-left: 20px;
        margin-top: 10px;
    }

    .up {
        margin-top: -25px;
    
    }
    


}



@media screen and (max-width:360px) {


    .lists >li {
        display: none;
     }

     .header {
          background-image: url("bar.png"),url("cart.png");
          background-repeat: no-repeat;
          background-position: top left,top right;
          background-size: 20px;
          
     }


      


 }
    











 





































































